<!DOCTYPE html>
<html lang="en">
  <%- include("./head.ejs") %>

  <body>
    <%- include("./header.ejs") %>
    <main>
      <div>
        <a href="/animals/new"><button>Create A New Animal</button></a>
        <% for (animal of animals) { %>

        <article>
          <a href="/animals/<%= animal._id %>">
            <h2>
              <%= animal.species %> 
              <!-- Extinct:<%= animal.extinct ? "Extinct" : "Not Extinct"%> 
              Location:<%= animal.location %> 
              Life Expectancy<%= animal.lifExpectancy %>  -->
            </h2>
          </a>
        </article>

        <% } %>
      </div>
    </main>
  </body>
</html>